.container{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bgSoft);
  padding: 10px;
  border-radius: 10px;
  width: max-content;
}
.input{
  background-color: var(--bgSoft);
  border: none;
  color: var(--textSoft);
  outline: none;
}
.searchButton {
  background-color: var(--bg);
  border: none;
  padding: 8px 16px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.searchButton:hover {
  background-color: #006d6d; /* darker teal for hover effect */
}
